<div class="loggin">
	<form 
		id="login" 
		#loginForm='ngForm' 
		(ngSubmit)="loginRequest()" 
		*ngIf="!registration"
	>
		<h2 
			[textContent]='warning ? warningMessage : "Welcome"'
			[class.warning]='warning'
		></h2>
		
		<input 
			[(ngModel)]='loginBody.email' 
			name="email" 
			placeholder="Email"
			required
			email
		>

		<input 
			[(ngModel)]='loginBody.password' 
			name="password" 
			type="password" 
			placeholder="Password"
			required
		>
		
		<div class="buttons">
			<button [disabled]='!loginForm.valid' type="submit">Log in</button>
			<button (click)="registration = true">Sign in</button>
		</div>
	</form>

	<form 
		id='register' 
		*ngIf="registration" 
		#registerForm="ngForm"
		(ngSubmit)="registerRequest()"
	>
		<h2 
			[textContent]='warning ? warningMessage : "Register"'
			[class.warning]='warning'
		></h2>
		
		<input 
			[(ngModel)]="registerBody.name"
			name="name"
			type="text" 
			placeholder="Name"
			required
		>
		<input
			[(ngModel)]="registerBody.email"
			name="email" 
			placeholder="Email"
			required
			email
		>
		<input 
			[(ngModel)]="registerBody.password"
			name="password" 
			required
			type="password" 
			placeholder="Password"
		>
		<input 
			[(ngModel)]="registerBody.avatar"
			name="avatar" 
			type="file" 
			placeholder="Avatar"
		>
		
		<div class="buttons">
			<button type="submit" [disabled]='!registerForm.valid'>Confirm</button>
			<button 
				class="back" 
				(click)="registration = false"
			>
				🢨
			</button>
		</div>
	</form>
</div>
