<div class="loggin">

	<div class="warning" *ngIf='warning'>
		{{warningMessage}}
	</div>

	<form 
		id="login" 
		#loginForm='ngForm' 
		(submit)="loginRequest()" 
		*ngIf="!registration"
	>
		<h2>Welcome</h2>
		
		<input 
			[(ngModel)]='loginBody.email' 
			name="email" 
			type="email" 
			placeholder="Email"
			required
		>

		<input 
			[(ngModel)]='loginBody.password' 
			name="password" 
			type="password" 
			placeholder="Password"
			required
		>
		
		<div class="buttons">
			<button (click)="loginForm.submit">Log in</button>
			<button (click)="registration = true">Sign in</button>
		</div>
	</form>

	<form 
		id='register' 
		*ngIf="registration" 
		#registerForm="ngForm"
		(submit)="registerRequest()"
	>
		<h2>Register</h2>
		
		<input 
			[(ngModel)]="registerBody.name"
			name="name"
			type="text" 
			placeholder="Name"
			required
		>
		<input
			[(ngModel)]="registerBody.email"
			name="email" 
			required
			type="email" 
			placeholder="Email"
		>
		<input 
			[(ngModel)]="registerBody.password"
			name="password" 
			required
			type="password" 
			placeholder="Password"
		>
		<input 
			[(ngModel)]="registerBody.avatar"
			name="avatar" 
			type="file" 
			placeholder="Avatar"
		>
		
		<div class="buttons">
			<button (click)="registerForm.submit">Confirm</button>
			<button 
				class="back" 
				(click)="registration = false"
			>
				🢨
			</button>
		</div>
	</form>
</div>
