<div class="messenger">
	<div class="header">
		<button  (click)='exitAlert()'>
			Exit
		</button>
		<div *ngIf="activeChat && chatJoined" class="info">
			<div class="status">
				<span class="interlocutor-name">{{activeChat.name}}</span><br>
			</div>
		</div>
	</div>
	<ul *ngIf="activeChat && chatJoined">
		<li *ngFor='let message of messagesHistory'>
			<app-message [data]='message'></app-message>
		</li>
		<li *ngFor='let message of messages'>
			<app-message [data]='message'></app-message>
		</li>
	</ul>
	<div 
		*ngIf="activeChat && chatJoined"
		class="send-field"
	>
		<textarea [(ngModel)]='messageText' (keydown.enter)='sendMessage()' placeholder="Enter your message..." rows='1'></textarea>
		<button [disabled]='joined' (click)='sendMessage()'>SEND</button>
	</div>
</div>
