.messenger {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	& ul {
		padding: 10px 0;
		flex-grow: 1;
		overflow-y: scroll;
		li {
			padding: 10px;
			clear: both;
		}
	}

	.header {
		box-sizing: border-box;
		min-height: 60px;
		align-items: center;

		
		
		align-items: center;
		color: white;
		background-color: #007acc;

		.info {
			display: flex;
			justify-content: space-between;
			height: 40px;
			margin-top: 10px;

			.status {
				line-height: 20px;
			}
		}

		border-bottom: 4px solid rgba(255, 255, 255, 0.3);

		.online, .offline {
			color: rgba(255, 255, 255, 0.568);
		}

		input[type='text'] {
			color: black;
			box-sizing: border-box;
			width: 150px;
			height: 35px;
			margin-right: 10px;
			border-radius: 20px;
			padding: 0 15px;
			background-color: white;

			&:focus {
				box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.55);
			}
		}
	}

	.send-field {
		min-height: 60px;
		display: flex;
		align-items: center;

		box-shadow: 0 0 8px 2px grey;

		textarea{
			color: black;
			background-color: #d8d8d8;
			box-sizing: border-box;
			width: 90%;
			margin: 0 15px;
			border-radius: 20px;
			padding: 10px 15px;
			resize: none;
			overflow: hidden;

			&:focus {
				box-shadow: 0px 0px 0px 4px #d8d8d883;
			}
		}

		button {
			background-color: white;
			width: 38px;
			margin-right: 15px;
			height: 38px;
			border-radius: 50%;
			cursor: pointer;
		
			&:hover, &:focus {
				box-shadow: 0px 0px 0px 4px #d8d8d883;
			}
		}
	}

	.interlocutor-name {
		font-weight: bold;
	}
}