<div class="login">
	<form 
		id='register' 
		#registerForm="ngForm"
		(ngSubmit)="registerRequest()"
	>
		<h2 
			[textContent]='warning ? warningMessage : "Register"'
			[class.warning]='warning'
		></h2>
			
		<input 
			[(ngModel)]="registerBody.name"
			name="name"
			type="text" 
			placeholder="Name"
			required
		>
		<input
			[(ngModel)]="registerBody.email"
			name="email" 
			placeholder="Email"
			required
			email
		>
		<input 
			[(ngModel)]="registerBody.password"
			name="password" 
			required
			type="password" 
			placeholder="Password"
		>
		<input 
			[(ngModel)]="registerBody.avatar"
			name="avatar" 
			type="file" 
			placeholder="Avatar"
		>
		
		<div class="buttons">
			<button type="submit" [disabled]='!registerForm.valid'>Confirm</button>
			<button 
				class="back" 
				routerLink='/login'
			>
				🢨
			</button>
		</div>
	</form>
</div>