<div class="login">
	<form 
		id="login" 
		#loginForm='ngForm' 
		(ngSubmit)="loginRequest()" 
		*ngIf="!registration"
	>
		<h2 
			[textContent]='warning ? warningMessage : "Welcome"'
			[class.warning]='warning'
		></h2>
		
		<input 
			[(ngModel)]='loginBody.email' 
			name="email" 
			placeholder="Email"
			required
			email
		>

		<input 
			[(ngModel)]='loginBody.password' 
			name="password" 
			type="password" 
			placeholder="Password"
			required
		>
			
		<div class="buttons">
			<button [disabled]='!loginForm.valid' type="submit">Log in</button>
			<button routerLink='/register'>Sign in</button>
		</div>
	</form>
</div>